<h3>Submit the following Content.</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p id="check_data">Content:<%= @blog.content %></p>
  <div class="submit">
    <%= form.submit  "Record" %>
    <%= form.submit "Back", name: 'back' %>
  </div>
<% end %>