<!DOCTYPE html>
<html>

<head>
    <title>Welcome From My Tweet Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav>
        <ul>
            <li id="left">
                <a><%= link_to 'Tweet Chat', root_path %></a>
            </li>
            <li class="right">
                <a><%= link_to 'New Blog', new_blog_path %></a>
            </li>
            <li class="right">
                <a><%= link_to 'Blog List', blogs_path %></a>
            </li>
        </ul>
    </nav>
    <%= yield %>
    <footer>
        <p>Thank you for your cooperation</p>
    </footer>
</body>

</html>